<nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Topic</li>
  </ol>
</nav>

<h1>
  <%= @the_topic.name %>
</h1>

<div class="card">
  <div class="card-body">
    <h4>Topic Summary</h4>
    <%= @the_topic.description %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>
      Upload any notes, class slides, or materials you have on your topic
    </h4>
    <form action="/insert_note" method="post">
      <div>
        <label for="content_box">
          Content
        </label>
        <input type="text" id="content_box" name="query_content">
      </div>
      <input type="text" id="topic_box" name="query_topic_id" value=<%= @the_topic.id %> hidden>
      <button type="submit">
        Upload note
      </button>
    </form>

    <div>
      <ul>
        <% @list_of_notes.each do |a_note| %>
          <li>
            <div>
              Note #<%= a_note.id %>
            </div>
            <div>
              <%= "#{a_note.content[0..37]}..." %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Write an article on...</h4>
    <ul>
      <% @list_of_ideas.each do |a_idea| %>
        <li>
          <button name="ai_article_idea">
            <%= a_idea[:description] %>
          </button>
        </li>
      <% end %>
    </ul>
    <form action="/generate_article" method="post">
      <label for="aritcle_idea_box">Or choose your own title...</label>
      <input type="text" id="aritcle_idea_box" name="query_user_description" placeholder="">
      <input type="text" name="query_topic_id" value=<%= @the_topic.id %> hidden>
      <button type="submit">Generate</button>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Or revisit your old articles...</h4>
    <% @list_of_articles.each do |a_article| %>
      <a class="card link-underline link-underline-opacity-0" href=<%= "/articles/#{a_article.id}" %> >
        <div class="card-header d-flex justify-content-between">
          <h5>
            <%= a_article.title %>
          </h5>
          <i class="bi bi-arrow-right-circle"></i>
        </div>
        <div class="card-body">
          <div>
            <%= a_article.summary %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
